.state-header-name{
    display: inline;
    font-size:  17px;
    line-height:  18px;
    margin: 0;
    font-weight: bold;
    min-height: 9px;
    min-width: 30px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-family: Roboto, Poppins, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}

.state {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #dedede;
    border-left: 1px solid #ccc;
    width: 270px;
    min-width: 270px;
    position: relative;
}


.state-header {
    flex-shrink: 0;
    padding: 20px 12px 4px;
    background-color: #e4e4e4;
    border-bottom: 6px solid #e4e4e4;
    user-select: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.state-list {
    flex: 1;
    overflow-y: visible;
    padding: 5px 11px;
    min-height: 40px;
}
.state-list-sort {
    min-height: 32px;
}


.state-header-button{
    cursor: pointer;
    color: #4d4d4d;
    transition: transform 0.2s;
}

.state-header-button:hover{
    transform: scale(1.1);
    color: #000
}

.add-ticket-form {
    padding: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.add-ticket-form input {
    width: calc(100%);
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 100%;
}


.add-ticket-buttons {
    display: flex;
    gap: 8px;
}

.add-ticket-buttons button {
    flex: 1;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-ticket-buttons button:first-child:hover{
    background: #2573a7;
    transform: scale(1.02);
    transition:  background-color 0.3s;
}

.add-ticket-buttons button:last-child:hover{
    background: #A75925;
    transform: scale(1.02);
    transition:  background-color 0.3s;
}

.add-ticket-buttons button:first-child {
    background: #2980b9;
    color: white;
}

.add-ticket-buttons button:last-child {
    background: #B96229;
    color: white;
}